{% extends 'base.html' %}

{% block title %}Galeria{% endblock %}

{% block content %}

<header class="hero-galeria">

    <div class="contenedor">

        <div class="contenedor__hero">
            <div class="contenedor-logo">
                <img class="logo" src="./static/images/logo.svg" alt="logo">
            </div>

        </div>

        <div class="text-contenedor">

            <div class="text__hero">
                <h1>"Disfruta una deliciosa taza de Café"</h1>                    
                
            </div>

        </div>
        
    </div>
   
</header>

<main class="contenedor2 contenido-principal">
    <h2 class="galeria-h2"><span>Vive la</span> Experiencia </h2>

    <div class="galeria">
        <div class="imagen">
            <img src="../static/images/galeria_01.jpg" alt="galeria">
        </div>
        <div class="imagen">
            <img src="./static/images/galeria_02.jpg" alt="galeria">
        </div>
        <div class="imagen">
            <img src="./static/images/galeria_03.jpg" alt="galeria">
        </div>
        <div class="imagen">
            <img src="./static/images/galeria_04.jpg" alt="galeria">
        </div>
        <div class="imagen">
            <img src="./static/images/galeria_05.jpg" alt="galeria">
        </div>
        <div class="imagen">
            <img src="./static/images/galeria_06.jpg" alt="galeria">
        </div>
        <div class="imagen">
            <img src="./static/images/galeria_07.jpg" alt="galeria">
        </div>
        <div class="imagen">
            <img src="./static/images/galeria_08.jpg" alt="galeria">
        </div>
        <div class="imagen">
            <img src="./static/images/galeria_09.jpg" alt="galeria">
        </div>
        <div class="imagen">
            <img src="./static/images/galeria_10.jpg" alt="galeria">
        </div>
    </div>
</main>


{% endblock %}