{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}

<header class="hero">

    <div class="contenedor">

        <div class="contenedor__hero">
            <div class="contenedor-logo">
                <img class="logo" src="./static/images/logo.svg" alt="logo">
            </div>

        </div>

        <div class="text-contenedor">

            <div class="text__hero">
                <h1>"Disfruta del mejor Café"</h1>                    
                
            </div>

        </div>
        
    </div>
   
</header>
<main>
    <section class="conoce">
        <h2 class="conoce-h2"><span>Conoce más</span>Sobre nosotros </h2>
        <div>
            <div class="contenedor-cafe">
                <img class="log" src="./static/images/cafe.svg" alt="logo">
            </div>
        </div>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab, tenetur, perferendis ipsa tempora soluta sunt hic consectetur blanditiis at unde, assumenda labore doloribus neque obcaecati vero odit aut adipisci ex! Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ipsa, rem optio consectetur nemo sunt ut placeat. In aperiam distinctio atque eveniet culpa! Similique, magnam? Cumque voluptatibus atque inventore dolor.</p>

        <div class="contenedor-food">
            <div>
                <img class="log" src="./static/images/icono_cafe.svg" alt="logo">

                <h3>Café</h3>
            </div>
            <div>
                <img class="log" src="./static/images/icono_postre.svg" alt="logo">
                <h3>Postres</h3>

            </div>
            <div>
                <img class="log" src="./static/images/icono_te.svg" alt="logo">
                <h3>Té</h3>

            </div>
        </div>
    </section>

    
    
    
    
    
    
</main>


{% endblock %}
